.restaurantDetails {
    select{
        background-color:rgb(51, 49, 49);
        text-align: center;
        border-radius: 5px;

        .updateOptions{
            color:red;
            background-color: brown;
            background: blueviolet;
        }
    
    }
}
